
/* Your CSS Code here. */
 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }
nav {
	background-color: #333;
	padding: 20px 0;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align:center;
	/* text-decoration: none; */
}
nav ul li {
	display: inline;
	margin: 0 20px;
}
nav ul li a{
	color: white;
	text-decoration:none;
	font-size: 16px;
}
nav ul li a:hover{
	text-decoration: underline;
}
 h2 {
    text-align: center;
    margin-top: 30px;
}
.video-container{
	display:flex;
	justify-content:center;
	gap:20px;
	flex-wrap:wrap;
	padding:20px;
}
video {
	height: 250px;
	width: 200px;
	border:2px solid black;
	border-radius: 8px;
}